*, ::after , ::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;


}
*::selection{
   background-color: #c2c2;
   color: white;


}


body{
   background-color: #c2c2;
   font-family: Arial;
 

}

.card{
   width: 330px;
   margin: 40px auto;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 5px #0005;
   border-radius: 10px;
   



}

.card__title{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;

  display: inline;
}

.card__title::before,
.card__title::after{

   content: "";
   display: inline-block;
   width: 20%;
   height: 3px;
   margin-bottom: 5px;
   justify-content: center;
   background-color: black;

}

ul{
  counter-reset: contador;

}

li{
  list-style: none;
  padding: 0;
  margin-bottom: 10px;


}

li::before{
    content: counter(contador);
    counter-increment: contador;
    width: 30px;
    height: 30px;
    display: inline-block ;
    color: #0005;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: antiquewhite;

}










